.form-categoria {
  background: white;
  border-radius: 20px;
  padding: 25px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  color: black;
   align-items: center;
}

.form-categoria h3 {
  text-align: center;
  font-size: 1.5rem;  /* más grande */
  margin-bottom: 20px;
}

.form-img-preview img {
  width: 140px;     /* antes 100px */
  height: 140px;
  object-fit: contain;
  margin: 0 auto 20px;  /* centrado + espacio abajo */
  display: block;
}

.file-input {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

textarea {
  height: 80px;
  resize: none;
  color: black;
}

.btn-agregar {
  width: 100%;
  padding: 10px;
  background-color: #1b1f5c;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.form-categoria label {
  font-size: 0.85rem;     /* más pequeño */
  color: #494949;         /* gris suave */
  margin-bottom: 5px;
  align-self: flex-start; /* los alinea a la izquierda */
}

.file-input {
  display: none; /* Oculta el input real */
}

.btn-subir {
  display: inline-block;
  padding: 10px;
  background-color: #1b1f5c;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
  width: 100%;              /* mismo ancho que botón agregar */
  text-align: center;
}

.file-input {
  display: none; /* Oculta el input real */
}

.label-imagen {
  width: 100%;
  padding: 10px;
  background-color: #1b1f5c;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
  display: block;
}
