.card-empleado {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.fila {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 0.6fr 0.6fr;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
  color: rgb(0, 0, 0);
  padding-left: 30px;
}

.fila.encabezado {
  font-weight: bold;
  color: #535353;
  border-bottom: 2px solid #eee;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 0.6fr 0.6fr;
}

.fila.encabezado span:nth-child(1) {
  padding-left: 30px;
}

.fila.encabezado span:nth-child(2) {
  padding-left: 20px;
}

.fila.encabezado span:nth-child(3) {
  padding-left: 20px;
}

.fila.encabezado span:nth-child(4) {
  padding-left: 40px;
}

.card-titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 50px;
  color: #333;
}

/* Contenedor para agrupar los botones de acción */
.acciones-container {
  display: flex;
  grid-column: span 2;
  justify-content: space-around;
  align-items: center;
}

.acciones-header {
  grid-column: span 2;
  text-align: center;
}

.botones-accion {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .fila {
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 0.6fr 0.6fr;
    font-size: 14px;
  }
  .fila.encabezado {
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 0.6fr 0.6fr;
  }
}

@media (max-width: 768px) {
  .card-empleado {
    width: 95%;
    padding: 15px;
  }
  
  .fila {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    text-align: center;
  }
  
  .fila.encabezado {
    display: none;
  }
  
  .fila span {
    margin-bottom: 8px;
    padding-left: 0 !important;
  }
  
  /* Nuevo contenedor para agrupar los botones */
  .fila > div:last-child,
  .fila > div:nth-last-child(2) {
    display: inline-block;
    margin: 5px;
  }
  
  /* Crear un div que contenga ambos botones */
  .fila::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .botones-accion {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
  }
}
