.categoria-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
   width: 100%;        /* mantiene su ancho completo en el grid */
  height: 350px;   
  display: flex;
  flex-direction: column;
  align-items: center;       /* centrado horizontal */
  justify-content: space-between;
  color:black
}

.categoria-img {
  width: 140px;        /* más ancha */
  height: 140px;       /* más alta */
  object-fit: contain;
  margin: 0 auto 10px; /* centrado horizontal + espacio abajo */
  display: block;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}



.categoria-card h4 {
  margin-bottom: 30px; /* Aumenta la separación entre el título y los botones */
  font-size: 1rem;
}
